[submodule "chown-drive-folder"]
	path = chown-drive-folder
	url = https://github.com/tanabee/chown-drive-folder.git
[submodule "zendesk-to-spreadsheet"]
	path = zendesk-to-spreadsheet
	url = https://github.com/tanabee/zendesk-to-spreadsheet.git
[submodule "slack-channel-exporter"]
	path = slack-channel-exporter
	url = https://github.com/tanabee/slack-channel-exporter.git
[submodule "okr-tree"]
	path = okr-tree
	url = https://github.com/tanabee/okr-tree.git
[submodule "spreadsheet-to-json"]
	path = spreadsheet-to-json
	url = https://github.com/tanabee/spreadsheet-to-json.git
